.App {
   text-align: center;
   align-items: center;
   border: 2px solid #282c34;
   width: 500px;
   height: 300px;
   background-color: #282c34;
   padding: 40px;
}


.box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.reset {
  margin: 0px 20px;
  padding: 10px 20px;
  background: yellow
}
.succes{
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background: red
}

.denger {
  padding: 10px 20px;
  background: blue
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 14px;
}